<h2>Add a shoe brand to our database:</h2>

<form action="/brands" method="post">
  <div class="form-group">
    <label class="form-label" for='brand_name'>Brand Name:</label>
    <input class="form-control" id='brand_name' name='brand_name' type='text'>
    </br>
    <label class="form-label" for='price'>Price :</label>
    <input class="form-control" id='price' name='price' type='text'>
    </br>
    <button type="submit" class="button btn-success">Add Brand!</button>
  </div>
</form>
