<h1>Welcome to Maggie's Shoe Distribution Company!</h1>

<div class="container">
  <h4><a href="brands/new">Add a New Shoe Brand to the Database</h4>

  <h4><a href="stores/new">Add a New Shoe Store to the Database</h4>
</div>
