<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='../styles.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script type='text/javascript' src='js/scripts.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
    <title>Maggie's Shoe Distribution Company</title>
  </head>
  <body>
    <div class="navbar1">
      <h3><a href="/brands">Shoe Brands</a></h3>
      <h3><a href="/stores">Shoe Stores</a></h3>
      <h3><a href="/">Home</a></h3>
    </div>

    <div class='container'>
      <%= yield %>
    </div>
  </body>
