<h2>Add a shoe store to our database:</h2>

<form action="/stores" method="post">
  <div class="form-group">
    <label class="form-label" for='store_name'>Store Name:</label>
    <input class="form-control" id='store_name' name='store_name' type='text'>
    </br>
    <label class="form-label" for='location'>Location :</label>
    <input class="form-control" id='location' name='location' type='text'>
    </br>
    <button type="submit" class="button btn-success">Add Store!</button>
  </div>
</form>
