html {
  background: url('https://images.unsplash.com/photo-1462833867037-0f06eab31cc4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1f1b0699a5918c5eca4e7c3d411bb33b&auto=format&fit=crop&w=2550&q=80') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/**{
  border: 1px black solid;
}*/

body{
  background: none;
  font-family: 'Open Sans', sans-serif;
}

.navbar1{
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-bottom: 2px #837F8A solid;
}

a{
  color: #837F8A;
}

ul {
  list-style: none;
}
li a{
  font-size: 18px;
}

li{
  margin-top: 8px;
}

h2 {
  text-decoration: underline;
  margin-top: 30px;
}
